<%= form_with(model: blood_gulcose_reading, local: true) do |form| %>
  <% if blood_gulcose_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blood_gulcose_reading.errors.count, "error") %> prohibited this blood_gulcose_reading from being saved:</h2>

      <ul>
        <% blood_gulcose_reading.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, options_from_collection_for_select(User.first(100), :id, :first_name)   %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :reading_type %>
    <%= form.select :reading_type, options_for_select( BloodGulcoseReading.reading_types.keys, :selected => form.object.reading_type ), :class=>"form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
