= form_with(model: blood_gulcose_reading, local: true) do |form|
  - if blood_gulcose_reading.errors.any?
    #error_explanation
      %h2
        = pluralize(blood_gulcose_reading.errors.count, "error")
        prohibited this blood_gulcose_reading from being saved:
      %ul
        - blood_gulcose_reading.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :user_id
    = form.select :user_id, options_from_collection_for_select(User.first(100), :id, :first_name)
  .field
    = form.label :value
    = form.number_field :value
  .field
    = form.label :reading_type
    = form.select :reading_type, options_for_select( BloodGulcoseReading.reading_types.keys, :selected => form.object.reading_type ), :class=>"form-control"
  .actions
    = form.submit
