= form_with(model: blood_gulcose_reading, local: true) do |form|
  - if blood_gulcose_reading.errors.any?
    #error_explanation
      %h2
        = pluralize(blood_gulcose_reading.errors.count, "error")
        prohibited this eading from being saved:
      %ul
        - blood_gulcose_reading.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :date, form.object.date.strftime("%d/%m/%Y")
  .field
    = form.label :value
    = form.number_field :value, min: -9, max: 9
  .field
    = form.label :reading_type
    = form.select :reading_type, options_for_select( BloodGulcoseReading.reading_types.keys, :selected => form.object.reading_type ), :class=>"form-control"
  .actions
    = form.submit
